/* 
    Hello!
    If you hereyou are a researcher!
    Im a human. My name is Farbod Parkhooi and Im from Iran.
    XD!
    it's jokey! 
    you are in the .Mrs website files!
    If you want copy this codes but follow the copyright law!
    it has comment for easy read.
*/
body{
    margin: 0;
    display: flex;
    background-color: #ffbf00;
    color: white;
    text-align: right;
}
/* Info Card classes in bottom */
.Info-card{
    width: 300px;
    border-radius: 10px;
    height: auto;
    font-size: 20px;
    background-color: #f7c222;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out;
}
.Info-card:hover{
    box-shadow: 15px 20px 50px rgba(0, 0, 0, 0.1);
    background-color: #ffc415;
    width: 100%;
}
h2{
    margin: 0;
}
.Card-content{
    padding: 20px;
}
.Card-content-p{
    margin-top: 10px;
}
/* Info Card classes in top */
.Div-body{   
    width: 100%;
    text-align: center;
    margin: 0 auto 0;
}
.Div-head{   
    width: 100%;
    float: right;
    height: 150px;
}
.Div-left{   
    width: 10%;
    height: 400px;
    float: left;
}
.Div-right{   
    width: 10%;
    height: 400px;
    float: right;
}
.Div-middle{   
    width: 80%;
    height: 400px;
    float: right;
}
.Div-foot{   
    width: 100%;
    height: 250px;
    clear: both;
}
.Div-middle-right{
    width: 30%;
    height: 100%;
    float: right;
}
.Div-middle-middle{
    width: 40%;
    height: 100%;
    float: right;
}
.Div-middle-left{
    width: 30%;
    height: 100%;
    float: left;
}
/* Menu classes in bottom */
.Logo{
    width: 15%;
    height: 100%;
    float: left;
}
.Menu-image{
    width: 100%;
    height: 100%;
}
.Light-Mode{
    width: 5%;
    height: 50%;
    float: left;
}
.Register{
    width: 15%;
    height: 50%;
    float: right;
    color: black;
}
/* Menu classes in top */
.Persian-text{
    text-align: right;
}
.A-tag{
    text-decoration: none;
    color: white;
}
input[type=text]{
    border-radius: 25px;
    border-color: #0e1318;
    border-width: 5px;
    background-color: #ffbf00;
    border-style: double;
    width: 90%;
    padding: 2%;   
    color: black !important;
}
input[type=email]{
    border-radius: 25px;
    border-color: #0e1318;
    border-width: 5px;
    border-style: double;
    background-color: #ffbf00;
    width: 90%;
    padding: 2%;   
    color: black !important;
}
input[type=number]{
    border-radius: 25px;
    border-color: #0e1318;
    border-width: 5px;
    border-style: double;
    background-color: #ffbf00;
    width: 90%;
    padding: 2%;   
    color: black !important;
}
button[type=submit]{
    background-color: #ffbf00;
    color: black !important;
    width: 25%;
    height: 25px;
    border-radius: 10px;
    border-style: double;
}